#{[:maul qui-gon] [:obi-wan :maul] [:dooku :obi-wan] [:dooku :anakin] [:yoda :dooku] [:anakin :dooku] [:mace :palpatine] [:palpatine :yoda] [:obi-wan :anakin] [:anakin :obi-wan] [:anakin :luke] [:luke :anakin]}