[(Asher, Mediterranean), (Manasseh, Mediterranean), (Ephraim, Mediterranean),
(Naphtali, Chinnereth), (Naphtali, Jordan), (Issachar, Jordan), (Manasseh, Jordan), (Gad, Jordan), (Benjamin, Jordan), (Judah, Jordan), (Reuben, Jordan), (Judah, Dead), (Reuben, Dead), (Simeon, Dead),
(Gad, Jabbok), (Reuben, Jabbok), (Reuben, Arnon)]