#{[:asher :mediterranean] [:manasseh :mediterranean] [:ephraim :mediterranean]
[:naphtali :chinnereth] [:naphtali :jordan] [:issachar :jordan] [:manasseh :jordan] [:gad :jordan] [:benjamin :jordan] [:judah :jordan] [:reuben :jordan] [:judah :dead] [:reuben :dead] [:simeon :dead]
[:gad :jabbok] [:reuben :jabbok] [:reuben :arnon]}